/* ManageMenu.css */
.menu {
    font-family: 'Courier New', sans-serif;
    background-color: #fffaf0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 40px auto;
    background-image: url('C:\Users\Kalki\OneDrive\Desktop\Bakery\Bakery\sunshine_bakery\frontend\public\images\background.jpg');
    background-size: cover;
    background-position: center;
}

.menu h1 {
    text-align: center;
    color: #d2691e;
    margin-bottom: 20px;
    

}

.menu-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    flex: 1;
    padding: 10px;
    border: 2px solid #d2691e;
    border-radius: 5px;
    margin-right: 10px;
    width: 100px;
}

.menu-controls button {
    background-color: #d2691e;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
}

.menu-controls button:hover {
    background-color: #a0522d;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.menu-item {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #d2691e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item h3 {
    color: #d2691e;
    margin-bottom: 10px;
}

.menu-item p {
    color: #555;
    margin-bottom: 10px;
}
